# Redirect all requests to Django WSGI
Options +ExecCGI
RewriteEngine On
RewriteBase /
SetEnv PYTHONPATH /home/coder248/.local/lib/python3.12/site-packages
RewriteRule ^favicon\.ico$ static/img/Museum-icon.svg [L]
RewriteRule ^$ dispatch.wsgi/ [QSA,PT,L]
RewriteRule ^(static/.*)$ - [L]
RewriteRule ^(admin/.*)$ - [L]
RewriteRule ^(media/.*)$ - [L]
RewriteRule ^dispatch\.wsgi/.*$ - [L]
RewriteRule ^(.*)$ dispatch.wsgi/$1 [QSA,PT,L]
